<html lang="en">
<head>
    <% include ../partials/head %>
    <title>Edit a Post</title>
</head>
<body>

    <% include ../partials/header %>
<main>
<div class="container">

  <form action="/edit" method="POST">
    <input name="number" type="text" class="postID" value = "<%= posts[0].id %>">
    <div class="row">
        <div class="input-field col s12">
          <input name="title" type="text" value= "<%= posts[0].title %>">
          <label for="title">Post Title</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <input name="author" type="text" value= "<%= posts[0].author %>">
            <label for="title">Author</label>
          </div>
        </div>
      <div class="row">
          <div class="input-field col s12">
            <input name="image" type="text" value = "<%= posts[0].image %>">
            <label for="image">Cover Image Link</label>
          </div>
        </div>
    <div class="row">
        <div class="row">
          <div class="input-field col s12">
            <textarea name="content" class="materialize-textarea"><%= posts[0].content %></textarea>
            <label for="content">Write your thougths</label>
          </div>
        </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light btn-large col l2 s6" name="submit" value="Edit">Submit</button>
      <button class="btn red right waves-effect waves-light btn-large col l2 s6" name="submit" value="Delete">Delete Post</button>
    </div>
  </form>
</div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
